# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env

# Virtual environment
*.venv/

# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.cache
*.tmp

# Dependency directories
node_modules/
